.quality{
    padding-top: 88px;
    padding-bottom: 13.5%;
    background-color: #2C343E;
    border-radius:10px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0px 6.6%;      
    }
    &__textbox {
        width: 49%;
    }
    &__headline {
        margin: 0;
        padding: 0;
        margin-bottom:5.7%;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }
    &__desc {
        margin: 0;
        padding: 0;
        font-family: 'Barlow 400';
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;      
    }
    &__img {
        width:35%;
        min-height: 470px;
        object-fit: cover;
        border-radius: 5px;
        position: absolute;
        top: -88px;
        right: 85px;
        border-radius: 10px;       
    }
}
@media only screen and (max-width:850px){
    .quality{
        padding-top: 224px;
        padding-bottom: 67px;
        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__textbox {
            align-items: center;
            width: 100%;
        }
        &__img {
            display: none;
            // width:100%;
            // max-width: 600px;;
            // max-height: 380px;
            // object-fit: cover;
            // min-height: 0;
            // border-radius: 13px;
            // top: -220px;
            // right: 0;
            // margin-right: 12%;
        }
    }
}
@media only screen and (max-width:550px){
    .quality{
        padding-top: 142px;
        &__headline{
            font-size: 28px;
            line-height: 28px;
        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
        }
        &__img{
            width:100%;
            max-width: 279px;
            max-height: 156px;
        }
    }   
}